tx/outputa.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="output">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="id"/>
              <xs:element name="attributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="body"/>
                    <xs:element type="xs:string" name="created"/>
                    <xs:element type="xs:string" name="updated"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="relationships">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="author">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="author_data">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="author_id"/>
                                <xs:element type="xs:string" name="author_type"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="included">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="incl_type"/>
              <xs:element type="xs:string" name="incl_id"/>
              <xs:element name="attributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="age"/>
                    <xs:element type="xs:string" name="gender"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
